*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #505050;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
}
/* 当屏幕宽度小于等于640像素时，设置字体大小为16像素 */
@media (max-width: 640px) {
    html {
        font-size: 100px;
    }
}

/* 当屏幕宽度大于640像素且小于等于960像素时，设置字体大小为24像素 */
@media (min-width: 641px) and (max-width: 960px) {
    html {
        font-size: 150px;
    }
}

/* 当屏幕宽度大于960像素时，设置字体大小为32像素 */
@media (min-width: 961px) {
    html {
        font-size: 200px;
    }
}


.page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: url("../images/img.png") no-repeat;
    background-size: 100% 100%;
}

/*һ*/
.page1{
    z-index: 99;
    height:100%;
    width:100%;
}

.page1 .text1{
    width: 4.69rem;
    height: 2.63rem;
    display: block;
    position: absolute;
    left: 1.88rem;
    top: 0.5rem;
    color:white;
    font-size: 0.6rem;
}
.page1 .text2{
    width: 4.69rem;
    height: 2.63rem;
    display: block;
    position: absolute;
    left: 1.88rem;
    color:black;
    top: 0.5rem;
    font-size: 0.6rem;
}
.page1 .text3{
    width: 4.69rem;
    height: 2.63rem;
    display: block;
    position: absolute;
    left: 5rem;
    color: #4b4b4b;
    top: 2rem;
    font-size: 0.2rem;
    font-style: italic;
}
.page1 .pic3{
    width: 1.77rem;
    height: 0.56rem;
    display: block;
    position: absolute;
    top: 1.78rem;
    left: 3.55rem;
}
.page1 .pic4{
    width: 2.13rem;
    height: 0.68rem;
    display: block;
    position: absolute;
    top: 2.3rem;
    left: 0.3rem;
}


.page2 .zi{
    width: 2.76rem;
    height: 0.65rem;
}

.page2 .zi1{
    overflow: hidden;
    position: absolute;
    top: 0.5rem;
    left: 1.3rem;
}
.page2 .zi2{
    overflow: hidden;
    position: absolute;
    top: 1.22rem;
    left: 1rem;
}
.page2 .zi3{
    overflow: hidden;
    position: absolute;
    top: 1.94rem;
    left: 1.3rem;
}
.page2 .zi4{
    overflow: hidden;
    position: absolute;
    top: 2.8rem;
    left: 1rem;
}

/*��*/
.page2 .xian1{
    width: 0.83rem;
    height: 0.81rem;
    background: url("../images/xian.png") no-repeat;
    background-size: 0.83rem 1.51rem;
    transform: skewX(-40deg);
    position: absolute;
    top: 0.65rem;
    left: 1.1rem;
    opacity: 0;
    animation-fill-mode:forwards;
}
.page2 .xian1 img{
    width: 100%;
    height: 100%;
}

.page2 .xian2{
    width: 0.83rem;
    height: 0.81rem;
    background: url("../images/xian.png") no-repeat;
    background-size: 0.83rem 1.51rem;
    transform: skewX(-10deg);
    position: absolute;
    top: 1.42rem;
    left: 1.16rem;
    opacity: 0;
    animation-fill-mode:forwards;
}
.page2 .xian2 img{
    width: 100%;
    height: 100%;
}

.page2 .xian3{
    width: 0.83rem;
    height: 0.83rem;
    background: url("../images/xian.png") no-repeat;
    background-size: 0.83rem 1.51rem;
    transform: skewX(-42deg);
    position: absolute;
    top: 2.2rem;
    left: 1.1rem;
    opacity: 0;
    animation-fill-mode:forwards;
}
.page2 .xian3 img{
    width: 100%;
    height: 100%;
}

.page2 .zi .xing{
    width: 0.35rem;
    height: 0.33rem;
    display: block;
    float: left;
    opacity: 0;
    animation-fill-mode:forwards;
}

.page2 .zi .jianjie1{
    width: 1.1rem;
    height: 0.2rem;
    display: block;
    margin-top: 0.1rem;
    float: right;
}

.page2 .zi .jianjie2{
    width: 1.1rem;
    height: 0.2rem;
    margin-top: 0.1rem;
    float: right;
    display: block;
    opacity: 0;
    animation-fill-mode:forwards;
}
.page2 .zi .jianjie3{
    width: 1.1rem;
    height: 0.2rem;
    margin-top: 0.1rem;
    float: right;
    display: block;
    opacity: 0;
    animation-fill-mode:forwards;
}
.page2 .zi .jianjie4{
    width: 1.1rem;
    height: 0.2rem;
    margin-top: 0.1rem;
    float: right;
    display: block;
    opacity: 0;
    animation-fill-mode:forwards;
}
/*��*/

/*��*/
.page3 .qiyuan{
    width: 1.1rem;
    height: 0.2rem;
    display: block;
    position: absolute;
    top: 0.28rem;
    right: 0.7rem;
}

.page3 .wenzi{
    width: 4.5rem;
    height: 2rem;
    display: block;
    margin: 0.2rem 1.7rem 0 auto;
    color: white;
    font-weight: bold;
    font-size: 0.15rem;
}

.page3 .wenzi li{
    width: 0.24rem;
    float: right;
    margin-right: 0.15rem;

    opacity: 0;
    animation-fill-mode:forwards;
}

.page3 .pic3{
    width: 1.77rem;
    height: 0.56rem;
    display: block;
    position: absolute;
    top: 6.78rem;
    left: 3.55rem;
}
.page3 .pic4{
    width: 2.13rem;
    height: 0.68rem;
    display: block;
    position: absolute;
    top: 8.3rem;
    left: 0.3rem;
}

/*��*/
.page4,.page5,.page6{
    background: url("../images/img.png");
    background-size: 100% 100%;
}

.page4 .qiyuan{
    width: 0.49rem;
    height: 2.67rem;
    display: block;
    position: absolute;
    top: 0.28rem;
    right: 0.7rem;
}

.page4 .wenzi2{
    width: 1.5rem;
    height: 3.34rem;
    display: block;
    margin: 0.5rem 1.5rem 0 auto;
    color: white;
    font-weight: bold;
    font-size: 0.24rem;
}

.page4 .wenzi2 li{
    width: 0.22rem;
    float: right;
    margin-right: 0.25rem;

    opacity: 0;
    animation-fill-mode:forwards;
}

.page4 .tu1{
    width: 3.08rem;
    height: 3.62rem;
    display: block;

    position: absolute;
    top: 0;
    left: 0.23rem;
}

.page4 .tu{
    width: 6.25em;
    margin: 0 0 0 auto;
    overflow: hidden;
}

.page4 .tu li{
    float: left;
    margin: 0.1rem 0.12rem 0 0;
    opacity: 0;
    animation-fill-mode:forwards;
}

/*��*/
.page5 .qiyuan{
    width: 0.49rem;
    height: 2.67rem;
    display: block;
    position: absolute;
    top: 0.28rem;
    right: 0.7rem;
}

.page5 .wenzi3{
    width: 1.5rem;
    height: 3.34rem;
    display: block;
    margin: 0.5rem 1.5rem 0 auto;
    color: white;
    font-weight: bold;
    font-size: 0.24rem;
}

.page5 .wenzi3 li{
    width: 0.22rem;
    float: right;
    margin-right: 0.1rem;

    opacity: 0;
    animation-fill-mode:forwards;
}

.page5 .tu2{
    width: 4.19rem;
    height: 2.87rem;
    display: block;

    position: absolute;
    top: 0.1rem;
    left: 0rem;

    opacity: 0;
    animation-fill-mode:forwards;
}

.page5 .tu{
    width: 6.25em;
    margin: 0 0 0 auto;
    overflow: hidden;
}

.page6 .qiyuan{
    width: 2rem;
    height: 2rem;
    display: block;
    margin: 0px auto;
}

.glass{
    position: relative;
    background: rgba(193, 236, 247, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(193, 236, 247, 0.75);
    width: 600px;
    height:600px;
    margin-top: -450px;
    display:flex;
    justify-content: flex-start;
    margin-left: -160px;
}

.page6 .shi1{
    width: 2.02rem;
    height: 2.62rem;
    display: block;
    position: absolute;
    top: 0.58rem;
    right: 1.38rem;

    opacity: 0;
    animation-fill-mode:forwards;
}

.page6 .shi2{
    width: 2.02rem;
    height: 2.62rem;
    display: block;
    position: absolute;
    top: 0.58rem;
    left: 0.36rem;

    opacity: 0;
    animation-fill-mode:forwards;
}

.page6 .shi3{
    /*width: 6rem;*/
    display: block;
    margin: 0 auto;
    font-size: 0.24rem;
    color: white;

    position: absolute;
    top: 4rem;
    left: 0.3rem;
}

.page6 .shi3 li{
    width: 0.20rem;
    float: right;
    margin-right: 0.1rem;

    opacity: 0;
    animation-fill-mode:forwards;
}

.page6 .pic3{
    width: 1.77rem;
    height: 0.56rem;
    display: block;
    position: absolute;
    top: 6.78rem;
    left: 3.55rem;
}

.page6 .pic4{
    width: 2.13rem;
    height: 0.68rem;
    display: block;
    position: absolute;
    top: 8.3rem;
    left: 0.3rem;
}



.pageUp{
    transform: translateY(-100%);
}

.pageDown{
    transform: translateY(100%);
}

.pageLeft{
    transform: translateX(-100%);
}

.pageRight{
    transform: translateX(100%);
}

.hide{
    display: none;
}

#login{
    position: absolute;
    top: 10%;
    left: 50%;
    margin: 150px 0px 0px -150px;
    width: 300px;
    height: 300px;
}

h1{
    font-size: 2em;
    margin: 0.67em 0;
}

input{
    width: 278px;
    height: 18px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    border: 1px solid #312E3D;
    border-bottom-color: #56536A;
    border-radius: 4px;
    background-color: #2D2D3F;
}

.but{
    width: 300px;
    min-height: 20px;
    display: block;
    background-color: #4a77d4;
    border: 1px solid #3762bc;
    color: #fff;
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    margin: 0;
}
